<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to RazBnB!</h1>
    <p>A roof over your head, anywhere in the world...</p> 
    <p>and nice things underneath</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>



<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <h1>This is my index page</h1>
  </div>

  <div class="col-md-4">
  </div>
</div>