<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to RazBnB!</h1>
    <p>A roof over your head, anywhere in the world...</p> 
    <p>and nice things underneath</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<% if current_user.profile == nil %>
  <%= link_to "Create a profile", new_profile_path %>
<% else %>
  <%= link_to "View #{current_user.profile.name}'s profile", profile_path(current_user.profile.id) %>
<% end %>