<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <h1>A roof over your head, anywhere in the world</h1>
    <p>RazBnB lets you rent unique places to stay from local hosts in over 190 countries.</p>
    <div class="btn-group">
      <a href="#testimonial" class="btn btn-lg btn-warning">Our Testimonials</a>
    </div>
  </div>
</div><!-- End Jumbotron -->

<!-- Carousel -->
<div class="container">
  <section>
    <div class="page header" id="highlights">
      <h2>Highlights.<small> Selected RazBnB listings</small></h2>
    </div>
    <div class="carousel slide" id="screenshot-carousel" data-rise="carousel">
      <ol class="carousel-indicators">
        <li data-target="screenshot-carousel" data-slide-to="0" class="active"></li>
        <li data-target="screenshot-carousel" data-slide-to="1"></li>
        <li data-target="screenshot-carousel" data-slide-to="2"></li>
        <li data-target="screenshot-carousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://s3-ap-southeast-1.amazonaws.com/razbnb/uploads/layout/pictures/lake_como.jpg" alt="Lake Como">
          <div class="carousel-caption">
            <h3>Culture</h3>
            <p>The cultural experience of a chic European town is sure to inspire the Hemmingway in you</p>
          </div>
        </div>
        <div class="item">
          <img src="https://s3-ap-southeast-1.amazonaws.com/razbnb/uploads/layout/pictures/bora_bora.jpg" alt="Bora Bora">
          <div class="carousel-caption">
            <h3>Beach Escape</h3>
            <p>Escape the hustle and bustle of big city life in a private chalet off the coast of the Carribbean</p>
          </div>
        </div>
        <div class="item">
          <img src="https://s3-ap-southeast-1.amazonaws.com/razbnb/uploads/layout/pictures/snow.jpg" alt="Snow House">
          <div class="carousel-caption">
            <h3>Great Indoors</h3>
            <p>You bring the good book and we'll provide the warm beverage and cozy ambience</p>
          </div>
        </div>
        <div class="item">
          <img src="https://s3-ap-southeast-1.amazonaws.com/razbnb/uploads/layout/pictures/tibet.jpg" alt="Tibet">
          <div class="carousel-caption">
            <h3>Tranquility</h3>
            <p>Sometimes, you have to travel a thousand miles to search within</p>
          </div>
        </div>
      </div>
      <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </section>
</div><!-- End Carousel -->

<!-- Testimonial -->
<div class="container">
  <section>
    <div class="page-header" id="testimonial">
      <h2>Testimonials.<small> What people had to say about RazBnB</small></h2>
    </div>
    <div class="row">
      <!-- Testimonial 1 -->
      <div class="col-lg-4">
        <blockquote>
          <p>RazBnB helped the entire crew to find comfortable accomodations in Morocco during filming. Star Wars would not have been possible without it!</p>
          <footer>JJ Abrams</footer>
        </blockquote>
      </div><!-- End Testimonial 1 -->
      <!-- Testimonial 2 -->
      <div class="col-lg-4">
        <blockquote>
          <p>RazBnB made it so comfortable for us to stay on the moon after our successful landing. They offered free pancakes breakfast too!</p>
          <footer>Buzz Aldrin</footer>
        </blockquote>
      </div><!-- End Testimonial 2 -->
      <!-- Testimonial 3 -->
      <div class="col-lg-4">
        <blockquote>
          <p>The peaceful and quiet location of RazBnB was really the inspiration behind the Mona Lisa!</p>
          <footer>Leonardo Da Vinci</footer>
        </blockquote>
      </div><!-- End Testimonial 3 -->
    </div>
  </section>
</div><!-- End Testimonial -->

